body {
  background-color: black;
}

a {
  text-decoration: none;
}

img {
  
  padding: 10px;
}

div {
  text-align: center;
}

#masterDiv {
  margin: auto;
   padding: 75px 0;
}



#target {
  -webkit-animation: fade 1s alternate infinite;
  animation: fade 1s alternate infinite;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
