body {
  background-color: black;
}

a {
  text-decoration: none;
}

img {
  padding-top: 10px;
  height: 850px;
}

div {
  text-align: center;
}

h1 {
  color: #00FF21;
  font-family: monospace;
  text-align: center;
}

img {
  cursor: help;
}

#masterDiv {
  margin: auto;
   padding: 10px 0;
}


#target {
  -webkit-animation: fade 1s alternate infinite;
  animation: fade 1s alternate infinite;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}







#userInputDiv {
  margin: auto;
   padding: 10px 0;

}

#target {
  -webkit-animation: fade 1s alternate infinite;
  animation: fade 1s alternate infinite;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#continueButton {
  margin-top: 0px;
  width: auto;

}


/* This is for the user input text field */
.userInputReady {
  text-transform: uppercase;
  font-family: monospace;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  border-width: 2px;
  border-color: #00FF21;
  background-color: #000000;
  color: #ffffff;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.0);
  text-shadow: 0px 0px 5px rgba(66,66,66,.0);
  width: 800px
}
.userInputReady:focus {
     outline:none;
}



/* This is for the user submit button */
.submitButtonReady {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;

  font-family: monospace;
  color: black;
  font-size: 30px;
  background: #00FF21;
  padding: 10px 20px 10px 20px;
  border: solid #00FF21 2px;
  text-decoration: none;
  width: 100px;
}

.submitButtonReady:hover {
  color: white;
  background: black;

  background-image: -webkit-linear-gradient(top, black, black);
  background-image: -moz-linear-gradient(top, black, black);
  background-image: -ms-linear-gradient(top, black, black);
  background-image: -o-linear-gradient(top, black, black);
  background-image: linear-gradient(to bottom, black, black);
  text-decoration: none;
}


/* Following a wrong answer, this is the temporary cooldown class for user text input */
.userInputCooldown {
  font-family: monospace;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  border-width: 2px;
  border-color: red;
  background-color: red;
  color: black;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.0);
  text-shadow: 0px 0px 5px rgba(66,66,66,.0);
  cursor: not-allowed;
}
.userInputCooldown:focus {
     outline:none;
}

/* Following a wrong answer, this is the temporary cooldown class for user submit button */
.submitButtonCooldown {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;

  font-family: monospace;
  color: black;
  font-size: 30px;
  background: red;
  padding: 10px 20px 10px 20px;
  border: solid red 2px;
  text-decoration: none;
  cursor: not-allowed;
}

.submitButtonCooldown:hover {
  color: black;
  background: black;

  background-image: -webkit-linear-gradient(top, red, red);
  background-image: -moz-linear-gradient(top, red, red);
  background-image: -ms-linear-gradient(top, red, red);
  background-image: -o-linear-gradient(top, red, red);
  background-image: linear-gradient(to bottom, red, red);
  text-decoration: none;
}
